////
/// Mixins
////

/// Render `border-box`
/// cf. http://caniuse.com/#feat=css3-boxsizing
@mixin _border-box {
    & {
        // -moz-box-sizing: border-box;
        // -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/// Background opacity
@mixin _background-opacity($color, $opacity: 0.5) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}

/// Separator on ::before
@mixin _separator-before($color: inherit, $content: "•", $margin: 0.5em) {
        color: $color;
        content: $content;
        display: inline-block;
        margin-right: $margin;
}