////
/// Mixins
////

/// Render `border-box`
/// cf. http://caniuse.com/#feat=css3-boxsizing
@mixin _border-box {
    & {
        // -moz-box-sizing: border-box;
        // -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/// `clearfix`
@mixin _clearfix {
    &:before,
    &:after {
        /* clearfix - http://nicolasgallagher.com/micro-clearfix-hack/ */
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/// Background opacity
@mixin _background-opacity($color, $opacity: 0.5) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}