////
/// Configuration et Personnalisation
////


// Typography

$fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamilyAlternative: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$fontSize: 1em;
$baseline: 1.5;


// ColorScheme

$black: #000;
$dark: #333;
$light: #777;
$white: #fff;
