////
/// Configuration and Customization
////


// Typography

$fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamilyAlternative: Georgia,Times,Times New Roman,serif;
$fontSize: 1em;
$baseline: 1.5;


// ColorScheme

$black: #000;
$dark: #333;
$light: #777;
$white: #fff;
