{{ partial "head" . }}

<body class="list-template">
    <div class="page">

        <div class"wrapper">
            {{ partial "header" . }}
        </div>

        {{ partial "navigation" . }}

        <main class="content wrapper" role="main" id="contenu-principal">
    		{{ partial "post-list" . }}
            {{ partial "pagination" . }}
        </main>

        <div class"wrapper">
            {{ partial "social" . }}
            {{ partial "footer" . }}
        </div>

    </div>

    {{ partial "konami" . }}

</body>
</html>
