{{ partial "head" . }}

<body class="template template--post">
    <section class="header-wrapper">
        {{ partial "header" . }}
        {{ partial "navigation" . }}
    </section>
    <main class="content" role="main" id="main-content" itemscope itemtype="http://schema.org/Article">
        <article class="post">
            <header>
                <h1 class="post__title" itemprop="name">{{ .Title }}</h1>
            </header>
            <section class="post__content" itemprop="articleBody">
                {{ .Content }}
            </section>
            <footer class="post__meta">
                {{ partial "post-meta" . }}
            </footer>
        </article>
    </main>
    {{ partial "footer" . }}
    {{ partial "js" . }}
</body>
</html>
