{{ partial "head" . }}

<body class="post-template">
    <div class="page">

        <div class"wrapper">
            {{ partial "header" . }}
        </div>

        {{ partial "navigation" . }}

        <main class="content wrapper" role="main" id="contenu-principal" itemscope itemtype="http://schema.org/Article">
            <article class="post">
                <header>
                    <h1 class="post-title" itemprop="name" role="heading" arial-level="1">{{ .Title }}</h1>
                </header>

                <section class="post-content" itemprop="articleBody">
                    {{ .Content }}
                </section>
                {{ partial "post-meta" . }}
            </article>
        </main>

        <div class"wrapper">
            {{ partial "social" . }}
            {{ partial "footer" . }}
        </div>

    </div>

    {{ partial "konami" . }}

</body>
</html>
