////
/// Global rules
////

@-ms-viewport { width: device-width; }

* {
    @include _border-box();
    &:after, &:before {
        @include _border-box();
    }
}

img { -ms-interpolation-mode: bicubic; }

// Fix for Android
body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from { padding: 0; }
    to { padding: 0; }
}

// Helpers

.visua11y-hidden {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    margin: -1px; padding: 0;
    position: absolute;
    overflow: hidden;
}

// Links

a { color: $contrast; }
a:hover { color: $shadow; }
a:focus { color: $base; }
a:active { color: $light; }

// HTML elements

blockquote {
    @include _background-opacity($neutral, .3);
    border-left: 6px solid $neutral;
    font-size: $fontSize * 1.25;
    margin-left: 0;
    margin-right: 0;
    padding: .5em 1.5em;
}

code {
    @include _background-opacity($contrast, .1);
    border-left: 6px solid $contrast;
    color: $contrast;
    display: block;
    margin: 1em 0;
    padding: .5em 1.5em;

}
