////
/// Global rules
////

@-ms-viewport { width: device-width; }

* {
    @include _border-box();
    &:after, &:before {
        @include _border-box();
    }
}

img { -ms-interpolation-mode: bicubic; }



// Links

a { color: $contrast; }
a:hover { color: $shadow; }
a:focus { color: $base; }
a:active { color: $light; }

// Helpers

.visua11y-hidden {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    margin: -1px; padding: 0;
    position: absolute;
    overflow: hidden;
}
