////
// Layout
////

html {
    background-color: $white;
}


// header
.header-wrapper {
    background-color: $neutral;
    display: table;
    padding: .5em 1.5em;
    width: 100%;

    a {
        text-decoration: none;
    }

    .headline,
    .menu {
        display: table-cell;
        height: 80px;
        vertical-align: middle;
    }

    .headline {
        text-align: left;
    }

    .menu {
        text-align: right;
    }
}

// Menu
.menu__items {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .item {
        display: inline-block;
    }

    .item + .item {
        margin-left: .5em;
    }

    .item + .item::before {
        color: $white;
        content:"|";
        display: inline-block;
        margin-right: .5em;
    }
}

// Content
.content {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1.5em;

    .post--preview + .post--preview {
        margin-top: 3em;
    }
}

// Footer
.legal {
    color: $shadow;
    margin-top: 3em;
    text-align: center;
}

// Post meta
.post__meta {
    color: $light;
    display: table;
    width: 100%;

   [class^=post__meta__] {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        > * {
            display: inline-block;
        }

        li + li {
            margin-left: .25em;
        }

        li + li::before {
            color: $contrast;
            content:"•";
            display: inline-block;
            margin-right: .25em;
        }
    }

    .post__meta__infos {
        text-align: left;
    }

    .post__meta__tags {
        text-align: right;
    }
}