////
// Layout
////

html {
    background-color: $white;
}


// header
.header-wrapper {
    .headline {
        background-color: $neutral;
        padding: .5em 1.5em;
    }

    a {
        text-decoration: none;
    }
}

// Menu
.menu__items {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        background-color: $contrast;
        color: $neutral;
        display: block;
        padding: .5em 1.5em;
        text-decoration: none;
    }

    a:hover {
        background-color: $shadow;
    }
}


// Content
.content {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1.5em;

    .post--preview + .post--preview {
        margin-top: 3em;
    }
}

// Post preview
.post--preview {
    .post__title {
        margin-bottom: .25em;
    }
}

// Footer
.legal {
    color: $shadow;
    margin-top: 3em;
    text-align: center;
}

// Post meta
.post__meta {
    color: $light;
    font-style: italic;

    a { color: $light; }
    a:hover { color: $base; }
    a:focus { color: $contrast; }
    a:active { color: $shadow; }

    [class^=post__meta__] {
        margin: .25em 0 0;
        padding-left: 0;
        list-style-type: none;

        > * {
            display: inline-block;
        }

        li + li {
            margin-left: .25em;
        }

        li + li::before {
            @include  _separator-before($light);
        }

        .tags + .categories::before {
            @include  _separator-before($neutral, "|");
        }
    }
}

// Desktop breakpoint
@media screen and (min-width: 60em) {
    .post__meta {
        display: table;
        width: 100%;

        [class^=post__meta__] {
            display: table-cell;
            vertical-align: middle;
        }

        .post__meta__infos {
            text-align: left;
        }

        .post__meta__taxonomies {
            text-align: right;
        }
    }
}



// Pagination
.pagination {
    color: $light;
    margin-top: 1.5em;
    text-align: right;

    .pagination__infos + a {
        margin-left: .25em;
    }

    .pagination__current {
        color: $contrast;
        font-size: $fontSize * 1.5;
    }

    .pagination__infos + a::before {
        @include  _separator-before($neutral);
    }

    .pagination__prev + .pagination__next {
        margin-left: .25em;
    }

    .pagination__prev + .pagination__next::before {
        @include  _separator-before($neutral, "|");
    }
}

// Desktop breakpoint
@media screen and (min-width: 60em) {
    // header
    .header-wrapper {
        background-color: $neutral;
        display: table;
        padding: .5em 1.5em;
        width: 100%;

        .headline {
            padding: 0;
        }

        .headline,
        .menu {
            display: table-cell;
            vertical-align: middle;
        }

        .headline {
            text-align: left;
        }

        .menu {
            text-align: right;
        }
    }
}