////
/// Typography
////

html {
    color: $white;
    font-size: $fontSize;
}

.headlines__title {
    font-size: $fontSize * 1.5;
}

.headlines__baseline {
    font-family: $fontFamilyAlternative;
    font-size: $fontSize;
}
