////
/// Typography
////

html {
    color: $base;
    font-size: $fontSize;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

.template {
    font-size: $fontSize * 1.25;
}

.headline__title {
    color: $contrast;
    display: inline-block;
    font-family: $fontFamily;
    font-size: $fontSize * 1.5;
    font-weight: bold;
    margin: 0;
    padding: .5em 0;
}

h1, h3, h5 {
    font-family: $fontFamilyAlternative;
    line-height: $baseline - .3;
    color: $contrast;
}

h2, h4, h6 {
    font-family: $fontFamily;
    line-height: $baseline - .3;
    color: $light;
}

// Medium breakpoint
@media screen and (min-width: 40em) {
    h1 { font-size: $fontSize * 3; }
    h2 { font-size: $fontSize * 2.5; }
    h3 { font-size: $fontSize * 2; }
    h4 { font-size: $fontSize * 1.75; }
    h5 { font-size: $fontSize * 1.25; }
    h6 { font-size: $fontSize * 1; }
}

// Desktop breakpoint
@media screen and (min-width: 60em) {
    h1 { font-size: $fontSize * 4.5; }
    h2 { font-size: $fontSize * 3; }
    h3 { font-size: $fontSize * 2.5; }
    h4 { font-size: $fontSize * 2; }
    h5 { font-size: $fontSize * 1.5; }
    h6 { font-size: $fontSize * 1; }
}
