<header class="headlines" itemscope itemtype="http://schema.org/Person" role="banner">
    <h1 class="headlines__title"  itemprop="name">
        {{ if .IsHome }}<a href="/" title="Retourner à l'accueil">{{ end }}
            <span itemprop="givenName">Olivier</span> <span itemprop="familyName"> Fredon</span>
        {{ if .IsHome }}</a>{{ end }}
    </h1>
    <h2 class="headlines__baseline" itemprop="jobTitle" lang="en">UI Designer &amp; <wbr>Front-End Developer</h2>
</header>

<link itemprop="url" href="{{ .Site.BaseURL }}">
<link itemprop="email" href="mailto:hello@olivierfredon.com">
<link itemprop="worksFor" href="http://www.jechange.fr">
<meta itemprop="additionalName" content="{{ .Site.Params.pseudo }}">
<meta itemprop="gender" content="male">
<meta itemprop="nationality" content="France">