<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:image:src" content="{{ .Site.baseUrl }}/media/twitter-card.jpg">
<meta name="twitter:domain" content="{{ .Site.baseUrl }}">
<meta name="twitter:site" content="@{{ .Site.params.twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.params.twitter }}" />