{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ range $paginator.Pages }}
<article class="post post--preview">
    <header>
        <h2 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="post__meta"><time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}</time></div>
    </header>
    <section class="post__excerpt">
        <p>{{ .Summary }}&hellip;</p>
        {{ if .Truncated }}
        <p class="readmore"><a href="{{ .Permalink }}">{{ .Site.Params.keepReading }}</a></p>
        {{ end }}
    </section>
</article>
{{ end }}
