<footer class="post-meta">
    <section class="post-meta__date">
        <time datetime="{{ .Date.Format "02 January 2006" }}" itemprop="datePublished">{{ .Date.Format "02 January 2006" }}</time>
    </section>
    <section class="post-meta__tags">
        {{ range .Params.tags }}
        <a href="{{ .Site.BaseURL }}tags/{{ . }}">{{ . }} </a>
        {{ end }}
    </section>
    <section class="post-meta__categories">
        {{ range .Params.categories }}
        <a href="{{ .Site.BaseURL }}/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </section>
    <meta itemprop="url" content="{{ .Permalink }}">
</footer>
